@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>HotGlue MVC Test</title>
    <script src="Scripts/LAB.js"></script>
    @HotGlue.Script.Reference("Generated/app.js")
</head>
<body>
    <form id="form1" runat="server">
    <div id="container"></div>
    </form>
</body>
</html>
