<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpModules>
            <add name="HotGlueModule" type="HotGlue.Aspnet.HotGlueModule, HotGlue.Aspnet" />
        </httpModules>
        <httpHandlers>
            <add type="HotGlue.Aspnet.HotGlueHandler, HotGlue.Aspnet" verb="GET" path="hotglue.axd"/>
        </httpHandlers>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <add name="HotGlueModule" type="HotGlue.Aspnet.HotGlueModule, HotGlue.Aspnet" />
        </modules>
        <handlers>
            <add name="HotGlue" type="HotGlue.Aspnet.HotGlueHandler, HotGlue.Aspnet" verb="GET" path="hotglue.axd"/>
        </handlers>
    </system.webServer>
</configuration>