<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hotglue" type="HotGlue.Web.HotGlueConfigurationSection, HotGlue.Web"/>
  </configSections>
  <hotglue>
    <scriptPath>/Scripts</scriptPath>
    <scriptSharedPath>/Scripts/Shared</scriptSharedPath>
    <generate type="HotGlue.LABjsScriptReference, HotGlue.Core"/>
    <compilers>
      <compiler extension=".tmpl" type="HotGlue.Compilers.JQueryTemplateCompiler, HotGlue.Core"/>
      <compiler extension=".coffee" type="HotGlue.Compilers.CoffeeScriptCompiler, HotGlue.Core"/>
      <!--<compiler extension=".js" type="HotGlue.Compilers.UglifyCompressor, HotGlue.Core" mode="release"/>-->
      <compiler extension=".js" type="HotGlue.Compilers.YUICompressor, HotGlue.Core" mode="release"/>
    </compilers>
  </hotglue>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpHandlers>
      <add type="HotGlue.Web.HotGlueHandler, HotGlue.Web, Version=1.0.0.0, Culture=neutral" verb="GET" path="*.js-glue"/>
      <add type="HotGlue.Web.HotGlueModuleHandler, HotGlue.Web" verb="GET" path="*.*-module"/>
      <add type="HotGlue.Web.HotGlueRequireHandler, HotGlue.Web" verb="GET" path="*.js-require"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HotGlue" type="HotGlue.Web.HotGlueHandler, HotGlue.Web, Version=1.0.0.0, Culture=neutral" verb="GET" path="*.js-glue"/>
      <add name="HotGlueModule" type="HotGlue.Web.HotGlueModuleHandler, HotGlue.Web" verb="GET" path="*.*-module"/>
      <add name="HotGlueRequire" type="HotGlue.Web.HotGlueRequireHandler, HotGlue.Web" verb="GET" path="*.js-require"/>
    </handlers>
  </system.webServer>
</configuration>