<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpHandlers>
      <add type="HotGlue.Web.HotGlueHandler, HotGlue.Web, Version=1.0.0.0, Culture=neutral" verb="*" path="*.js-glue"/>
      <add type="HotGlue.Web.HotGlueModuleHandler, HotGlue.Web" verb="*" path="*.js-module"/>
      <add type="HotGlue.Web.HotGlueRequireHandler, HotGlue.Web" verb="*" path="*.js-require"/>
    </httpHandlers>
  </system.web>
</configuration>