<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
      <httpHandlers>
          <add type="HotGlue.Web.HotGlueHttpHandler, HotGlue.Web" verb="*" path="*.jsglue"/>
          <add type="HotGlue.Web.HotGlueModuleHandler, HotGlue.Web" verb="*" path="*.jsmodule"/>
          <add type="HotGlue.Web.HotGlueStitchHandler, HotGlue.Web" verb="*" path="*.jsstitch"/>
      </httpHandlers>
  </system.web>
</configuration>